body { /* no . means element type */
     text-align: center; /* text-align centers text AND children */
}
body {
 overflow-y: visible !important;
}

* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

/*modify the elements of the page*/
      
.avatar-container .Player-username {
     font-size: 1,5em;
     font-family: "papyrus", fantasy;
     color:rgba(255, 255, 255, 0.8);
    }
.avatar-subtext{
     font-size: 1,5em;
     font-family: "papyrus", fantasy;
     color:rgba(64, 0, 0, 0.9);
    }

.about-container .about-markdown{
	
   background-image: url('https://images.pexels.com/videos/3045163/free-video-3045163.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0);
	
}


.ratings-container{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  opacity: 0.7;
}


.container {
    max-width: none !important;
   background-image: url('https://cutewallpaper.org/28/dojo-background-wallpaper/evolution-9-style-grand-seiko.png');
}


.Player-rank {
     font-size: 3em;
     font-family: "papyrus", fantasy;
     color:rgba(255, 255, 255, 0.8);
    }

.PaginatedTable.game-history-table.clickable-rows{
	background-image: url('https://images.pexels.com/videos/3045163/free-video-3045163.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0);
}
	
.PaginatedTable.review-history-table.clickable-rows {
	background-image: url('https://images.pexels.com/videos/3045163/free-video-3045163.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0);
}
	.Card{
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  opacity: 0.9;
}

/*HIDE PARTS*/

.PlayerIcon.PlayerIcon-128{
	display: none !important;
}


/*fonts and solors*/
 
h2 {
	font-family: "papyrus", fantasy;
        color:RGBA( 255, 255, 255, 0,86);
}

h3 {
   color: rgba(255, 255, 255, 0.86);
   font-family: "papyrus", fantasy;
  }

h4{
   color: rgba(0, 140, 255, 0.76));
   font-family: "papyrus", fantasy;
}


.camille {
     /*font-family: "Book Antiqua", serif;
     color:RGBA( 0, 0, 0, 1 );*/
	RGBA( 0, 0, 0, 1 )
	font-family: "papyrus", fantasy;
	position: static;
	left:0;
}

p {
        font-size: 1.3em;
	color: rgba(255, 255, 255, 0.99);
        font-family: "papyrus", fantasy; 
}

/*IMAGES AND SHAPING*/	

span.test{
  display: inline-block;
  padding: 0 10% ;
  color: rgba(0, 140, 255, 0.76);
}

.image {
width: 20%;
border-radius: 1.25em;
margin-left: auto;
margin-right: auto;
}

.image2 {
 width: 40%;
margin-left: auto;
margin-right: auto;
border-radius: 1.5em;
}

.gif{
 transform: scale(0.5);
margin-center: auto;
}

.yt-video {
  width: 15em;
  height: 8.44em;
margin-left: auto;
margin-right: auto;
margin-center: auto;
transform: scale(0.8);
border-radius: 2.5em;
}

/*ANIMATION*/

.about-container h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Starting position */
  transform: translateX(100%) translateY(-20%);
  /* Apply animation to this element */	
  animation: scrolling 15s linear infinite;
  z-index: 9999;
  background-image: url(https://64.media.tumblr.com/0c49fc60cac37776985f613a8e2cf96b/tumblr_ms5kayIt6b1s8b1s0o1_r1_500.gif);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

/* Move it (define the animation) */
@keyframes scrolling {
  0%   { 
    transform: translateX(100%) translateY(-20%); 		
  }
  100% { 
    transform: translateX(-100%) translateY(-20%); 
  }
}
